@model Manual_Crud.Models.Student

<h2>Add Student</h2>
<form asp-action="Create">
    Name: <input asp-for="Name" /><br />
    Age: <input asp-for="Age" /><br />
    <button type="submit">Save</button>
</form>

