.main {
    background-color: maroon;
    height: 300px;
    width: 300px;
    color: white;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 3px;
    padding-right: 3px;

}

#f input {
    border: 1px;
    border-radius: 2px;
    height: 19px;
    float: right;

}

#btn {
    margin-left: 120px;
    margin-top: 5px;
}