@model Login_Register.Models.UserDto

<h2>Register</h2>

<form asp-action="Register" method="post">
    <label>Username:</label>
    <input asp-for="Username" />
    <br />
    <label>Email:</label>
    <input asp-for="Email" />
    <br />
    <label>Password:</label>
    <input asp-for="Password" type="password" />
    <br />
    <button type="submit">Register</button>
</form>
