@model LoginRegister_Session.DTOs.UserDTO

<h2>Login</h2>
<form asp-action="Login" method="post">
    <input asp-for="Username" placeholder="Username" /><br />
    <input asp-for="Password" placeholder="Password" type="password" /><br />
    <button type="submit">Login</button>
</form>

<p style="color:red">@ViewBag.Error</p>
