@model Crud_Manual1.Models.Student
<h2>Edit Student</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    Name: <input asp-for="Name" /><br />
    Age: <input asp-for="Age" /><br />
    <button type="submit">Update</button>
</form>
